@model CategoryDetailsViewModel

<h2>Category Details</h2>

<p>Id: @Model.Id</p>

<p>Name: @Model.Name</p>

<p>Details: @Model.Details</p>

<p>Total: @Model.Total</p>

<p>Products:</p>

<table>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.Name</td>
        </tr>
    }
</table>

@Html.ActionLink("Add Product", "Create", "Product")

